.admin-dashboard {
  margin-top: 7rem;
}

.admin-dashboard .header-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
}

.admin-dashboard .events-section {
  display: flex;
  justify-content: space-between;
}

.admin-dashboard .events-section .left-section {
  /* width: 57%; */
}

.admin-dashboard .events-section .right-section {
  /* width: 40%; */
}

/* .admin-dashboard .events-section .left-section */ .section-title {
  font-size: 26px;
  font-weight: 700;
 
  font-family: 'Times New Roman', Times, serif;
  
}

.admin-dashboard .events-section .left-section .section-body {
  box-shadow: 0px 20px 45px #f0edf6;
  background-color: white;
  border-radius: 8px;
  height: 383px;
  margin-top: 24px;
  overflow: hidden;
}

.admin-dashboard .events-section .right-section .section-title {
  font-size: 26px;
  font-weight: 700;
}


.admin-dashboard .events-section .right-section .section-body {
  box-shadow: 0px 20px 45px #f0edf6;
  background-color: white;
  border-radius: 8px;
  height: 383px;
  margin-top: 24px;
}

.admin-dashboard .membership-section {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
}

.admin-dashboard .membership-section .section-container {
  display: flex;
}

.admin-dashboard .membership-section .section-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.admin-dashboard .membership-section .section-body {
  box-shadow: 0px 20px 45px #f0edf6;
  background-color: white;
  border-radius: 8px;
  height: 300px;
  width: 30%;
  margin-top: 24px;
  margin-right: 15px;
}

.firstrow{
  height: 50% !important;
}

.header-title{
  font-family: "Playfair Display";
  padding: "4%";
}

.section-title{
  font-family: Inter;
  font-weight: 800;
}

.graph{
  border-radius: 10px !important;
}

.graph-image{
  box-shadow: 0px 20px 45px #F0EDF7;
  border-radius: 8px;
}