.map-container {
  height: 700px;
  background: #f1f1f1;
  position: relative;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  overflow: hidden;
  margin-top: 40px;
}
.section-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  color: #000000;
  margin: 40px 0;
}
.common-shadow-card {
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(54, 112, 248, 0.3);
  border-radius: 12px;
  padding: 10px 14px;
  width: 100%;
  margin: 10px 0;
}
.title-md {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #353535;
}
.user-flex-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}
.muiButton-primary {
  width: auto;
  padding: 10px 30px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}
.muiButton-primary svg {
  width: 18px;
  margin-right: 10px;
}
.user-flex-card .MuiPaper-elevation {
  display: flex;
  align-items: center;
}
.user-flex-card .avt-icon {
  margin-right: 10px;
  position: relative;
}
.user-flex-card .title-md {
  margin-right: 10px;
}
.user-flex-card .active-icon {
  width: 8px;
  height: 8px;
  background: #087f00;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 5px;
}
.container-xl {
  max-width: unset;
}
.img-block {
  width: 100%;
}
.mt-0 {
  margin-top: 0 !important;
}
.icon-list-list {
  display: flex;
  align-items: center;
  background: transparent;
  margin-bottom: 20px;
}
.icon-list-list .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3670f8;
  margin-right: 20px;
}
.icon-list-list .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(54 112 248 / 14%);
  margin-right: 20px;
  height: 40px;
  min-width: 40px;
  border-radius: 10px;
  color: #3670f8;
}
.sub-text {
  color: #9a9a9a;
  font-size: 16px;
}
.title-lg {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin: 30px 0;
}
.list-flex-card {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.list-flex-card .icon-list-list {
  margin-bottom: 0;
}
.text-black {
  color: #000;
}
.normal-font {
  font-family: Public Sans, sans-serif;
}
.details-text {
  font-size: 20px;
  color: #000000;
}
.center-link {
  padding: 20px 0 0;
  background: transparent;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.text-link {
  color: #3874ff;
  text-decoration: underline;
}
.text-gray {
  color: #515151;
}
.outline-btn {
  background: #fff;
}
.ml-auto {
  margin-left: auto;
  display: block;
}
.shadow-btn {
  box-shadow: 0px 10px 12px rgb(56 116 255 / 33%);
  border-radius: 10px;
  margin-top: 30px;
}
.checkout-btn {
  min-width: 240px;
  margin-top: 10px;
}
.coupon-box {
  background: #ffffff;
  border: 1px solid rgba(228, 228, 228, 0.9);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.coupon-box .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}
.coupon-box .MuiInputBase-formControl {
  margin: 0;
}
.coupon-box .MuiFormControl-root {
  width: 100%;
}
.coupon-box input {
  padding: 10px;
  height: auto;
}
.coupon-box .MuiButton-containedPrimary,
.btn-sm {
  padding: 16px 30px;
  font-size: 16px;
  line-height: 14px;
  font-weight: 600;
  border-radius: 6px;
}
.pt-0 {
  padding-top: 0 !important;
}
.label-md {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.text-primary {
  color: #3874ff;
}
.MuiTypography-p {
  display: block;
}
.ticket-card {
  padding: 30px 10px 25px;
  background: #f8fbfe;
  box-shadow: 0px 10px 50px rgba(1, 13, 130, 0.12);
  border-radius: 20px;
  margin-bottom: 40px;
}
.ticket-card .section-title {
  font-family: Public Sans, sans-serif;
  margin-bottom: 0;
  margin-top: 25px;
}
.ticket-card .MuiSelect-select {
  padding: 11.5px 14px;
}
.ticket-card .css-zow5z4-MuiGrid-root > .MuiGrid-item {
  padding-left: 0;
}
.card-sub-title {
  color: #0f123f;
  font-weight: 500;
  border-top: 1px solid #84879e;
  margin: 10px 0 15px;
  padding-top: 20px;
}
.overflow-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #4a4b60;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.noline-text-link {
  text-decoration: none;
  padding: 0;
  margin-top: 10px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback-form .section-title {
  margin: 0 0 21px;
}
.text-darkblue {
  color: #0a093d;
}
.MuiInputBase-input {
  padding: 13.5px 14px;
}
.feedback-form .MuiInputBase-root {
  margin-bottom: 5px;
}
.m-0 {
  margin: 0 !important;
}
.label-sm {
  font-size: 14px;
  line-height: 18px;
  color: rgba(21, 21, 34, 0.7);
}
.f600 {
  font-weight: 600;
}
.f500 {
  font-weight: 500;
}
.price-label {
  color: #3671fb;
  font-size: 20px;
}
.block-btn .checkout-btn {
  width: 100%;
  margin-top: 25px;
}
.custom-select {
  margin-bottom: 0;
}
.custom-select .MuiOutlinedInput-notchedOutline {
  border: 1px solid rgba(228, 228, 228, 0.9);
  border-radius: 5px;
}
.custom-select .MuiSelect-select {
  padding: 15px 30px;
}
.plan-box {
  background: #f8fbfe;
  box-shadow: 0px 10px 50px rgba(1, 13, 130, 0.12);
  border-radius: 20px;
  padding: 75px 45px 45px;
  margin-top: 40px;
}
.plan-box .check-icon {
  color: #3671fb;
}
.plan-box .close-icon {
  color: #eb3e3e;
}
.plan-box .price-list {
  border-top: 1px solid #84879e;
  padding: 30px 10px;
  margin-top: 30px;
}
.label-list {
  margin: 10px 0;
}
.label-list .MuiListItemButton-root {
  background: transparent !important;
}
.label-list .MuiListItemText-primary {
  font-size: 14px;
}
.plan-box .checkout-btn {
  background: #fff;
  border: 1px solid #3874ff;
  color: #3874ff;
  min-width: 180px;
  box-shadow: 0px 10px 50px rgba(1, 13, 130, 0.12);
  border-radius: 8px;
}
.block-btn {
  margin-bottom: 60px;
}
.map-container {
  height: 400px;
  margin-top: 20px;
}
.event-cards-group {
  margin-bottom: 50px;
}
.event-user-cards {
  padding: 0;
  border-top: 1px solid #d1e6ff;
}
.event-user-cards:last-child {
  padding: 0;
  border-bottom: 1px solid #d1e6ff;
}
.event-user-cards li {
  background: #ffffff;
  border-radius: 10px;
  padding: 17px 20px;
}
.event-user-cards .MuiAvatar-circular {
  width: 46px;
  height: 46px;
  margin-right: 30px;
}
.avatar-cards-group .MuiAvatar-circular {
  margin-right: 0;
}
.event-user-cards .MuiListItemText-primary {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
}
.event-user-cards .MuiListItemText-secondary {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.event-user-cards .MuiIconButton-edgeEnd {
  color: #9c9c9c;
  margin-top: -18px;
  padding: 6px;
}
.flex-scroll-card {
  display: flex;
  flex-direction: column;
}
.post-control-cards {
  box-shadow: 0 0 0;
  margin-bottom: 50px;
}
.message-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 370px);
  min-height: 400px;
}
.post-control-cards .MuiInputBase-fullWidth {
  margin: 0;
  padding: 0;
}
.post-control-cards .MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}
.post-control-cards .MuiInputBase-input {
  padding: 10.5px 14px;
}
.post-control-cards .MuiAvatar-circular {
  margin-top: 4px;
  margin-right: 12px;
}
.post-control-cards .MuiCardContent-root {
  padding-bottom: 0;
}
.custom-accordion {
  padding: 0;
  border-radius: 0 !important;
  border-top: 1px solid #d1e6ff;
  padding: 5px 10px;
}
.event-user-cards:last-child {
  padding: 0;
  border-bottom: 1px solid #d1e6ff;
}
.custom-accordion p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #8b8b8b;
  width: 100%;
}
.custom-accordion .Mui-expanded p svg {
  transform: rotate(180deg);
}
.blue-text {
  color: #3874ff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
.bold-text {
  color: #050505;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}
.modal-close-btn {
  text-align: right;
}
.modal-close-btn button {
  padding: 13px;
  box-shadow: 0px 1px 10px rgba(235, 62, 62, 0.35);
  border: none;
}
.close-icon {
  font-size: 38px;
}
.modal-content {
  border: none !important;
  outline: none;
}
.modal-inner-sec .plan-box:hover,
.selected {
  background-color: #3874ff !important;
  color: white !important;
  transition: all 0.2s !important;
  margin-top: 20px !important;
}
.modal-inner-sec .plan-box:hover .close-icon,
.modal-inner-sec .plan-box:hover .check-icon,
.modal-inner-sec .plan-box:hover .section-title,
.modal-inner-sec .plan-box:hover .text-black,
.selected .close-icon,
.selected .check-icon,
.selected .section-title,
.selected .text-black {
  color: white !important;
}
.modal-inner-sec .plan-box:hover .price-list,
.selected .price-list {
  border-top: 1px solid white !important;
}
.post-control-cards .MuiAvatar-circular {
  width: 46px;
  height: 46px;
}
.avatar-cards-group .MuiAvatar-circular {
  width: 36px;
  height: 36px;
}
.w-100 {
  width: 100%;
}
.plan-box:hover .price-list,
.selected .price-list {
  border-top: 1px solid white !important;
}
.inbox-cards-group .MuiAvatar-circular {
  margin-right: 0;
}
.inbox-cards-group .event-user-cards {
  overflow: hidden;
}
.inbox-cards-group .event-user-cards:last-of-type {
  border-bottom: 0;
}
.inbox-cards-group .event-user-cards:first-of-type {
  border-top: 0;
}
.inbox-cards-group .event-user-cards li {
  padding: 17px 35px;
  position: relative;
}
.inbox-cards-group .event-user-cards li.active::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #217bf4;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 17px;
}
.inbox-cards-group .event-user-cards li.selected {
  background: #217bf4;
  margin-top: 0 !important;
}
.inbox-cards-group .event-user-cards li.selected p,
.inbox-cards-group .event-user-cards li.selected span {
  color: #fff;
}
.user-cards-group.event-cards-group {
  margin-bottom: 20px;
}
.user-cards-group .event-user-cards {
  border: 0;
}
.user-cards-group li {
  padding: 17px 20px;
}
.user-cards-group .MuiAvatar-circular {
  margin-right: 0;
}
.date-devider {
  position: relative;
  border-bottom: 1px solid rgba(152, 155, 161, 0.8);
  margin: 40px auto 20px;
  max-width: 85%;
}
.date-devider span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  background: #fff;
  padding: 0 15px;
  color: #989ba1;
}
.chat-card {
  padding-bottom: 0;
}
.chat-card .MuiAvatar-circular {
  height: 46px;
  width: 46px;
}
.sent-chat-card {
  flex-direction: row-reverse;
}
.chat-card.sent-chat-card .MuiAvatar-circular {
  margin-left: 22px;
  margin-right: 0;
}
.msg-control {
  box-shadow: 0px 1px 10px rgb(56 116 255 / 30%);
  border-radius: 53px;
  padding: 5px 9px;
  margin: 20px auto;
  width: calc(100% - 40px);
}
.msg-control button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  min-width: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.msg-control button svg {
  font-size: 28px;
}
.file-btn {
  transform: rotate(45deg);
}
.send-btn {
  transform: rotate(-45deg);
}
button.send-btn svg {
  font-size: 24px;
}
.flex-100 {
  width: 100%;
}
.profile-avatar {
  width: 96px !important;
  height: 96px !important;
  border: 3px solid #217bf4;
  padding: 3px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  margin: 10px auto 16px !important;
  background: #fff;
}
.profile-avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profile-details {
  display: flex;
  align-items: center;
  margin: 10px 8px;
}
.profile-details svg {
  font-size: 20px;
  color: #5b5b76b2;
  margin-right: 8px;
}
.card-control span.MuiTypography-contained {
  color: #a3a3a3;
}
.primary-outline-btn {
  color: #3670f8;
  background: #ffffff;
  border: 1px solid #3670f8;
  padding: 15px 30px;
}
.primary-outline-btn:hover {
  color: #fff;
}
.blog-column-card {
  box-shadow: 0 0 0;
  border: 1px solid #c5c5c5;
  border-radius: 10px;
  margin-bottom: 25px;
}
.blog-column-card .date-icon {
  width: 27px;
  height: 27px;
  background: rgb(54 112 248 / 12%);
  color: #3670f8;
  padding: 5px;
  border-radius: 8px;
  margin-right: 10px;
}
.blog-main-card {
  border: 0;
}
.blog-main-card .MuiAvatar-circular {
  height: 80px;
  width: 80px;
}
.blog-main-card .MuiListItemText-multiline .MuiListItemText-primary {
  font-size: 20px;
}
.blog-main-card .date-icon {
  width: 47px;
  height: 47px;
  padding: 9px;
}
.blog-scroller {
  max-height: 930px;
  overflow: auto;
  padding-right: 20px;
}
.blog-scroller::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  outline: 3px solid #fff;
}
.blog-scroller::-webkit-scrollbar-track {
  background: #c9d9ff;
  border-radius: 20px;
  box-shadow: 0 0 0;
}
.blog-scroller::-webkit-scrollbar-thumb {
  background: rgba(163, 191, 255, 0.39);
  box-shadow: 0px 0px 4px #3874ff;
  border-radius: 10px;
}
@media (max-width: 1600px) {
  .inbox-cards-group .event-user-cards li {
    padding: 17px 20px;
    position: relative;
  }
  .inbox-cards-group .event-user-cards li.active::before {
    left: 7px;
  }
  .event-user-cards .MuiListItemText-primary {
    font-size: 14px;
  }
  .event-user-cards .MuiTypography-span {
    font-size: 12px;
  }
  .post-control-cards h5 {
    font-size: 16px;
  }
  .MuiTypography-p {
    display: block;
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .section-title {
    font-size: 26px;
    line-height: 32px;
    margin: 30px 0;
  }
  .details-text,
  .center-link {
    font-size: 16px;
  }
  .list-flex-card:last-child,
  .ticket-card:last-of-type {
    margin-bottom: 0;
  }
  .ticket-card {
    margin-bottom: 30px;
  }
  .ticket-card .MuiSelect-select {
    padding: 8.5px 14px;
  }
  .title-lg {
    font-size: 20px;
  }
  .feedback-form .signin-auth,
  .mb-logo-margin {
    margin: 10px;
  }
  .m-margin-0 {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .ticket-card {
    padding: 20px 10px 5px;
    margin-bottom: 20px;
  }
  .ticket-card .css-17pmaar-MuiCardContent-root:last-child {
    padding: 24px 12px;
  }
  .ticket-card .section-title {
    margin-bottom: 14px;
    margin-top: 10px;
  }
  .ticket-card .btn-sm {
    margin-top: 20px;
    margin-left: 0;
  }
  .MuiInputBase-input {
    padding: 12.5px 14px;
  }
  .feedback-form .signin-auth,
  .mb-logo-margin {
    margin: 10px 0;
  }
  .plan-box {
    padding: 45px 25px 0;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .xsorder {
    order: 2;
  }

  .block-btn {
    margin-bottom: 0;
  }
}

div[role="button"] {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgb(33 123 244 / 60%);
  border-radius: 45px;
}
