.admin-layout {
  background: rgba(55, 112, 245, 0.1);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding-top: 128px;
  padding-left: 358px;
  padding-right: 44px;
  padding-bottom: 100px;
  scrollbar-width: none;
}

.admin-layout::-webkit-scrollbar {
  display: none;
}
